{% extends "portfolio/base.html" %} 


{% block content %}
<div class="container">

    <h1 class="heading">ABOUT</h1>
        <p>
        <h1 class="fa fa-quote-left"></h1>
        
        <em>The most disastrous thing you can ever learn is your first programming language.</em>
        <h1 class="fa fa-quote-right"></h1>
        
         </br>
        
        <span class="author"> - Alan Kay</span>
        </p>
        <p>Hi ! I’m Aarif Malik, and I’m working as data scientist / developer, Extremely passionate about programming, deep learning, and deep reinforcement learning. We build awesome applications using new technologies, to download a public version of my <a href="pdf_download" target="_blank">CV</a>.
        </p>
        <p>
        In my free time, I join more and more online <a href="https://www.classcentral.com/u/1305611">Courses</a> and try out different <a href="https://github.com/Aarif1430">Programming Languages</a>
        </p>
            <h3 >RECENT PROJECT</h3>
         <p>
            <a href="https://github.com/Aarif1430/Django_Crispy_Forms">Django Crispy forms</a> to manage django forms in efficient way. This project gives a brief idea of how to setup django app and use django_crispy_forms 
            </p>
    <!-- End .optional-section-block -->

</div>
 {% endblock %}

<!-- End .optional-section -->
                


