{% extends "portfolio/base.html" %} 


{% block content %}
<div class="container">
<section id="content" class="body">

    <h1 class="heading">About</h1>

        <p>Hi ! I’m Aarif Malik, and I’m working as data scientist / develper at the <a href="https://www.crisil.com/">SNP Global Company</a>, Extremely passionate about programming, deep learning, and deep reinforcement learning. We build awesome applications using new technologies, to download a public version of my <a href="pdf_download" target="_blank">CV</a>.</p>
            <h3 >RECENT PROJECT</h3>
         <p>
            <a href="https://github.com/Aarif1430/Django_Crispy_Forms">Django Crispy forms</a> to manage django forms in efficient way. This project gives a brief idea of how to setup django app and use django_crispy_forms 
            </p>
    <!-- End .optional-section-block -->
</section>
</div>
 {% endblock %}

<!-- End .optional-section -->
                


