{% load staticfiles %}
<div class="container" id="sidebar">
<div class="row">
<div class="one-fourth column" id="main-sidebar">
                <nav id="menu">
                    <h2 class="heading">Contents</h2>
                    <ul>
                        <li><a href="#">Algorithms<sup>2</sup></a></li>
                        <li class="active"><a href="#">Deployment<sup>1</sup></a></li>
                        <li><a href="#">General<sup>5</sup></a></li>
                        <li><a href="#">GNU Linux<sup>2</sup></a></li>
                        <li><a href="#">Mathematics<sup>1</sup></a></li>
                        <li><a href="#">Tools<sup>1</sup></a></li>
                        <li><a href="#">Web Development<sup>10</sup></a></li>
                    </ul>
                </nav><!-- /#menu -->
                <hr>
                <div class="feed">
                    Subscribe via
                    <ul>
                        <li><img src="{% static 'img/mail.jpeg' %}" alt="Email subscribe - Feed Burner"><a href="http://feedburner.google.com/fb/a/mailverify?uri=thecodeship/yaMJ&amp;loc=en_US" target="_blank"> Your email</a></li>
                        <li><img src="{% static 'img/rss-feed.png' %}" alt="RSS Feed"><a href="https://www.thecodeship.com/feed/all.rss.xml" target="_blank"> Raw RSS Feed</a></li>
                        <li><img src="{% static 'img/feedburner.png' %}" alt="Reader subscribe - Feed burner"><a href="http://feeds.feedburner.com/thecodeship/yaMJ" target="_blank"> Feed burner reader</a></li>
                    </ul>
                </div>
                <hr>
                <div class="side-footer">
                    Blog by <a href="http://aarif1430.me">Arif Malik</a>
                </div>
                <div class="sidebar-ad-container stick">
                    <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2296088280693007" data-ad-slot="1229411388" data-ad-format="auto"></ins> <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                </div>
            </div>