
<html>
	<head>
		{% block head %}
			<title>Aarif Malik</title>
		{%endblock%}
		{% load staticfiles %}
				<!-- CSS Files -->
				<link rel="shortcut icon" href="{% static 'img/icon.png' %}">

				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
				
				<link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen" type="text/css">
			
				<link href="{% static 'css/paper-bootstrap-wizard.css' %}" rel="stylesheet" />

				<!-- Fonts and Icons -->
			    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
</head>
<body id="jumbo" class="panel-cover panel-cover--collapsed">
					<div class="container" id="index">
  					<div class ="row">
					  <div class="col-sm-6 square">
					  <div class="header">
					  <img src="{% static 'img/icon.png' %}" alt="logo" />
					  <h1 class="asap-font">Arif Malik</h1>
					</div>
					</div>
					<div class = "section-feature" style="margin-top:40px">
					<div class="col-sm-6 form-group"><span class="pull-right">
	          <ul class="nav navbar-nav">
							<li class="active"><a href="/" style="padding-left:25px;padding-right:25px"><b>Home</b></a></li>
							<li><a href="{% url 'about' %}" style="padding-left:25px;padding-right:25px"><b>About</b></a></li>
							<li><a href="{% url 'blogs' %}" style="padding-left:25px;padding-right:25px"><b>Blog</b></a></li>
							<li><a href="{% url 'about' %}" style="padding-left:25px;padding-right:25px"><b>Contact</b></a></li>
						</ul>
						</span>
					<hr  class="divider">
					</div>
					</div>
					</div>
					<h1 class="asap-font" style="font-size:60px"><b>I DESIGN AND</br> DEVELOP</b></h1>
					
					<a href="mailto:malikarif13@gmail.com"  role="button" class="btn btn-info">SEND EMAIL</a>
					</div>
					
	<div class = "section-features">

            <ul class="nav navbar-nav">
 
              <!-- Twitter -->
              <li class="navigation__item">
                <a href="http://youtube.maxgoodridge.com" class="btn btn-lg btn-danger outline" target="_blank" id="youtube" data-toggle="tooltip" >
							<i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i></a>
							
              </li>       
              <!-- Facebook -->
              <li class="navigation__item">
                <a href="https://www.instagram.com/malikaarif1430/" class="btn btn-lg btn-warning outline" target="_blank" id="instagram" data-toggle="tooltip">
							<i class="fa fa-instagram fa-lg" aria-hidden="true"></i> </a>
						
              </li>
            

            
              <!-- LinkedIn -->
              <li class="navigation__item">
                <a href="https://github.com/Aarif1430" class="btn btn-lg btn-success outline" target="_blank" id="github">
								<i class="fa fa-github fa-lg" aria-hidden="true"></i> </a>
							
              </li>
            

            
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://stackoverflow.com/users/8888612/aarif1430?tab=profile" class="btn btn-lg btn-info outline" target="_blank" id="se">
							<i class="fa fa-stack-overflow fa-lg" aria-hidden="true"></i></a>
              </li>
            

            
              <!-- Email -->
              <li class="navigation__item">
            <a href="https://www.linkedin.com/in/arif-malik-777a7960/" class="btn btn-lg btn-primary outline" target="_blank" id="facebook">
									<i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>								
              </li>
            

            <!-- RSS -->
            <li class="navigation__item">
             <a href="https://twitter.com/MalikAarif1430" class="btn btn-lg btn-primary outline" target="_blank" id="facebook" >
									<i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>								
            </li>
          
            </ul>
         

</div>
</body>
</html>