{% extends "portfolio/base.html" %} 


{% block content %}
</br>
<div class="blog_about" id="blog_about">
    <h2>TECHNICAL SKILLS</h2>
    <table>
      {% for skill in TECHNICAL_SKILLS %}
      <tr><td>{{ skill.category }}:</td><td>{{ skill.entry }}</td></tr>
      {% endfor %}
    </table>

    <h2>WORK EXPERIENCE</h2>
    {% for job in WORK_EXPERIENCE %}
      <strong>{{ job.name }} - {{ job.location }}</strong><br/>
      {% for position in job.positions %}
      {{ position.name }}, {{ position.dates }}<br/>
      {% endfor %}
      <ul>
        {% for duty in job.duties %}
        <li>{{ duty }}</li>
        {% endfor %}
      </ul>
    {% endfor %}


    <h2>EDUCATION</h2>
    <p>
      {{ EDUCATION.name }}<br/>
      {{ EDUCATION.degree }}, {{ EDUCATION.dates }}<br/>
    </p>
    </div>
 {% endblock %}