{% extends "portfolio/base.html" %} 

{% load staticfiles %}
{% block content %}
<div class="container">
 <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="24 Apr 2017" class="post-meta__date date">01 March 2019</time> &#8226; <span class="post-meta__tags">on <a href="/tags/#outreach">outreach</a> </span>
    </div>

<div style="height: 300px">
   <img src="{% static 'img/post2dml002.png' %}" alt="Error" style="max-width: 100%; 
        max-height: 100%; display:block; margin:auto;" />
</div>

    <h2 class="post-title">Basic difference between modern technology paradigms</h2>
  </header>
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
  <section class="post">
    <p><em> In this blog post, I will demonstrate what exactly is data science, skill set required to be a data scientist and the brief 
    comparsion with related fields like <b>Machine Learning, Artifical Intelligence, Deep Learning...</b>
    
    </em></p>

<h2 id="">Data Science</h2>
<p>
“One of the greatest challenges for 21st-century science is how we respond to this new era of data-intensive science. This is recognized as a new paradigm beyond experimental and theoretical research and computer simulations of natural phenomena—one that requires new tools, techniques, and ways of working.”
</br>
— Douglas Kell, University of Manchester
</br>
Data Science involves collection, prepration, analysis, visualization, management, and preservation of large collection of information.
The goal is to extract insights from data, predict different outcomes and sometimes automate the processess like data collection, cleaning and archieving.

<h2 id="">Skills Needed To Become a Data Scientist</h2>

<p> Following are some important attributs and skills .
<ul>
  <li><em><a href="#ec2-connect-instance"> Programming Languages </a></em></li>
  <li><em><a href="#installing_packages"> Mathematics </a></em></li>
  <li><em><a href="#configuring_apache"> Domain Knowledge </a></em></li>
</ul>
</p>
<h2 id="ec2-connect-instance">Programming Languages</h2>
<p>A data scientist should know atleast any one the essential languages Python or R, As the language of choice and rate of adaptation is moving
towards Python. I will be mostly focussing on Python in this blog post, there are also some other languages in use like
Scala, Clojure, Java, Octave and Julia.
</p>
<p>
To be really successfull data scientist, the programming skills needed are:
<ul>
  <li> Dealing with large volumes of data, working with real time data, cloud computing, big data technologies, unstructured data, databases.</li>
  <li> Working knowledge of various scientific numerical libraries like Numpy, SciKit learn, TensorFlow, PyTorch, Keras.</li>
  <li> Knowledge of statistical models like regression, optimization, clustering, decision trees, random forests etc. </li>
</ul>
</p>

<h2 id="installing_packages">Mathematics</h2>
<p>After successfull login, You should be able to see the command line interface of <em>EC2 Ubuntu instance</em>. Update the machine using following command
<ul>
  <li> Dealing with large volumes of data, working with real time data, cloud computing, big data technologies, unstructured data, databases.</li>
  <li> Working knowledge of various scientific numerical libraries like Numpy, SciKit learn, TensorFlow, PyTorch, Keras.</li>
  <li> Knowledge of statistical models like regression, optimization, clustering, decision trees, random forests etc. </li>
</ul>
</p>


</section>
</div>
{% include "portfolio/discussion.html" %}
</div>
</div>
</article>
</div>
</div>
</div>

 {% endblock %}