{% extends "portfolio/base.html" %} 
{% block content %}

<div class="container">

<section id="content" class="body">


      <h2><a href="{% url 'deploying_django_app_with_wsgi_in_apache' %}">Deploying Django App with Apache and Wsgi</a></h2>
<section>
        <p class="excerpt">Deploying django with <a href="https://httpd.apache.org/" class="ourl" target="_tab">apache</a> and <a href="https://modwsgi.readthedocs.io/en/develop/" class="ourl" target="_tab">mod_wsgi</a> is a simple way to get django project into production.
        The <em>mod_wsgi</em> is an Apache HTTP Server module that provides WSGI compliant interface for hosting Python based
        web applications under Apache. This blog is a guide to deploy django app on <em> Amazon ec2</em> instance using <em>git.</em> It also explains about mapping ec2 elastic IP with godaddy DNS.

</p>
        <div class="post-list__meta"><time datetime="02 March 2019" class="post-list__meta--date date">02 March 2019</time> • <span class="post-meta__tags">on <a href="/tags/#SM">SM</a> <a href="/tags/#news">news</a> </span></div>
        <hr class="post-list__divider">
</section>
  </div>
 {% endblock %}